*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    font-family: "Poppins", sans-serif;

}
body > div{
    margin: 15% auto 0;
    max-width: 720px;

}
.tabs {
    display: flex;
    position: relative;

}
.tab-item {
    min-width: 80px;
    font-size: 20px;
    padding: 16px 20px 11px 20px;
    color: #c23564;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.5s ease;
}
.line{
    position: absolute;
    background-color: #c23564;
    height: 6px;
    bottom: 0;
    transition: all 0.5s ease;
    border-radius: 15px;
    transition: all 0.5s ease;

}
.tab-item:hover{
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
  opacity: 1;
}
.tab-icon {

}
.tab-content {
   padding: 28px 0;
}
    
.tab-pane {
    display:none;
    color: #333;
}
.tab-pane.active {
    display: block;
}
.tab-pane>h2{
    font-size:24px;
    padding-bottom:10px
}